/* src/components/NavButton.css */

.nav-button {
  background-color: #000080; /* Navy */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 10px 24px;
  transition-duration: 0.4s;
}

.nav-button:hover {
  background-color: #0000CD; /* Medium Blue */
}